# IMPORTS

In [ ]:
import pandas as pd
from google.colab import files
from google.colab import drive
import google.auth
from google.colab import auth

!pip install gcsfs
import gcsfs

!pip install pymysql 
import pymysql

!pip install mysql-connector-python
from sqlalchemy import create_engine
import altair as alt

Collecting gcsfs
  Downloading https://files.pythonhosted.org/packages/ef/7a/c847e1a170be1836d8df2d3e0449b349b06c90a627914196e084b75b0284/gcsfs-0.7.2-py2.py3-none-any.whl
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.27.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2.23.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from gcsfs) (4.4.2)
Collecting aiohttp
  Downloading https://files.pythonhosted.org/packages/88/c0/5890b4c8b04a79b7360e8fe4490feb0bb3ab179743f199f0e6220cebd568/aiohttp-3.7.4.post0-cp37-cp37m-manylinux2014_x86_64.whl (1.3MB)
     |████████████████████████████████| 1.3MB 8.4MB/s
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from gcsfs) (0.4.3)
Collecting fsspec>=0.8.0
  Downloading https://files.pythonhosted.org/packages/91/0d/a6bfee0ddf47b254286b9bd574e6f50978c69897647ae15b14230711806e/fsspec-0.8.7-py3-none-any.whl (103kB)
     |████████████████████████████████| 112kB 35.6MB/s
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.7.2)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.2.1)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (54.0.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (2020.12.5)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (20.3.0)
Requirement already satisfied: typing-extensions>=3.6.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gcsfs) (3.7.4.3)
Collecting multidict<7.0,>=4.5
  Downloading https://files.pythonhosted.org/packages/7c/a6/4123b8165acbe773d1a8dc8e3f0d1edea16d29f7de018eda769abb56bd30/multidict-5.1.0-cp37-cp37m-manylinux2014_x86_64.whl (142kB)
     |████████████████████████████████| 143kB 31.2MB/s
Collecting async-timeout<4.0,>=3.0
  Downloading https://files.pythonhosted.org/packages/e1/1e/5a4441be21b0726c4464f3f23c8b19628372f606755a9d2e46c187e65ec4/async_timeout-3.0.1-py3-none-any.whl
Collecting yarl<2.0,>=1.0
  Downloading https://files.pythonhosted.org/packages/f1/62/046834c5fc998c88ab2ef722f5d42122230a632212c8afa76418324f53ff/yarl-1.6.3-cp37-cp37m-manylinux2014_x86_64.whl (294kB)
     |████████████████████████████████| 296kB 30.7MB/s
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from fsspec>=0.8.0->gcsfs) (3.7.2)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->fsspec>=0.8.0->gcsfs) (3.4.1)
Installing collected packages: multidict, async-timeout, yarl, aiohttp, fsspec, gcsfs
Successfully installed aiohttp-3.7.4.post0 async-timeout-3.0.1 fsspec-0.8.7 gcsfs-0.7.2 multidict-5.1.0 yarl-1.6.3
Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/4f/52/a115fe175028b058df353c5a3d5290b71514a83f67078a6482cff24d6137/PyMySQL-1.0.2-py3-none-any.whl (43kB)
     |████████████████████████████████| 51kB 3.9MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Collecting mysql-connector-python
  Downloading https://files.pythonhosted.org/packages/de/f7/b783b60a3bd8aea348990c60fb0b3ed2f843c6f40ad29e37a89a5d50d7a3/mysql_connector_python-8.0.23-cp37-cp37m-manylinux1_x86_64.whl (18.0MB)
     |████████████████████████████████| 18.1MB 198kB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.12.4)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (54.0.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.23

# ACCESSING PUBLIC DATA ONLINE

In [ ]:
# Load data from the internet
co2_data_csv_url = 'https://raw.githubusercontent.com/owid/co2-data/master/owid-co2-data.csv'
df = pd.read_csv(co2_data_csv_url)

In [ ]:
# View dataset for exploratory analysis.
df[df.iso_code == 'IND'].tail(-5)

      iso_code country  year  ...  energy_per_gdp    population           gdp
10138      IND   India  1863  ...             NaN  2.075371e+08           NaN
10139      IND   India  1864  ...             NaN  2.084047e+08           NaN
10140      IND   India  1865  ...             NaN  2.092778e+08           NaN
10141      IND   India  1866  ...             NaN  2.101562e+08           NaN
10142      IND   India  1878  ...             NaN  2.211054e+08           NaN
...        ...     ...   ...  ...             ...           ...           ...
10279      IND   India  2015  ...           1.135  1.310152e+09  7.070000e+12
10280      IND   India  2016  ...           1.106  1.324517e+09  7.560000e+12
10281      IND   India  2017  ...             NaN  1.338677e+09           NaN
10282      IND   India  2018  ...             NaN  1.352642e+09           NaN
10283      IND   India  2019  ...             NaN  1.366418e+09           NaN

[146 rows x 55 columns]

# ACCESSING GOOGLE DRIVE

In [ ]:
# Mounting drive
# This will require authentication : Follow the steps as guided
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Storing data to Drive.
df.to_json('/content/drive/My Drive/owid_co2_data.json')

# ACCESSING GOOGLE CLOUD STORAGE (REQUIRES PROJECT AND GCS BUCKET)

In [ ]:
# Authenticate with Google Cloud Storage
auth.authenticate_user()

In [ ]:
# define cloud project and GCS bucket and folder
project_id = 'ai4sg-template-1'
gcs_bucket_folder = 'ai4sg_bucket/sample_folder'

In [ ]:
# Config project
!gcloud config set project {project_id}

Updated property [core/project].

In [ ]:
# There are 2 ways of doing this - using command line and using gcsfs.
df.to_csv('to_upload.csv') # Create a local file on colab disk.
# Upload this file by invoking the command line utility.
!gsutil cp to_upload.csv gs://{gcs_bucket_folder}/

Copying file://to_upload.csv [Content-Type=text/csv]...
-
Operation completed over 1 objects/6.6 MiB.

In [ ]:
# Copy file directly from python.
credentials, _ = google.auth.default()
_ = gcsfs.GCSFileSystem(project=gcs_project_id, token=credentials) # setup gcsfs for cloud project and authenticate. 
df.to_csv(F'gcs://{gcs_bucket_folder}/direct_upload.csv') # pandas will use gcsfs if file path begins with gcs://

# ACCESS CloudSQL (MySQL) DB

In [ ]:
# ACCESSING MySQL DB hosted on GCP (CloudSQL)
project_id = "ai4sg-template-1"
connection_name = "ai4sg-template-1:us-central1:ai4sg-example-db"

In [ ]:
#Setting up gcloud instance
!gcloud auth login
!gcloud config set project $project_id
 
#Setting up a Cloud SQL Proxy
!wget https://dl.google.com/cloudsql/cloud_sql_proxy.linux.amd64 -O cloud_sql_proxy
!chmod +x cloud_sql_proxy
!nohup ./cloud_sql_proxy -instances=$connection_name=tcp:5432 &
!sleep 30s

# Connecting to DB 
# engine = create_engine("mysql+pymysql://<USER>:<PASSWORD>@localhost:5432/<DB>")
engine = create_engine("mysql+pymysql://root:wdKvwgkAb1GLgxvF@localhost:5432/sample_db")

Go to the following link in your browser:

    https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=openid+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fappengine.admin+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcompute+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Faccounts.reauth&state=sUG3wEkLzPaiBStlY4PcMGYyZ7391Q&prompt=consent&access_type=offline&code_challenge=PjcNKJOsWNomHHISPVu9pPfAiqkho3jGTY1NdTkmOiU&code_challenge_method=S256

Enter verification code: 4/1AY0e-g7S4txrbKTjpF3sxp71XwBfel0PBicgcAg_8NPn7g4yZ2A_Tt2yNZ4

You are now logged in as [atalekar@google.com].
Your current project is [None].  You can change this setting by running:
  $ gcloud config set project PROJECT_ID
Updated property [core/project].
--2021-03-15 04:21:28--  https://dl.google.com/cloudsql/cloud_sql_proxy.linux.amd64
Resolving dl.google.com (dl.google.com)... 74.125.142.190, 74.125.142.91, 74.125.142.93, ...
Connecting to dl.google.com (dl.google.com)|74.125.142.190|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14850063 (14M) [application/octet-stream]
Saving to: ‘cloud_sql_proxy’

cloud_sql_proxy     100%[===================>]  14.16M  --.-KB/s    in 0.05s

2021-03-15 04:21:28 (294 MB/s) - ‘cloud_sql_proxy’ saved [14850063/14850063]

nohup: appending output to 'nohup.out'

In [ ]:
# READ DATA
sql = "SELECT * FROM `sample_table`"
df_sql = pd.read_sql(sql, engine)
df_sql.head()

  country_code  year  co2
0          ABC  1234  0.1

In [ ]:
# CREATE DATA TO WRITE TO DB
df2 = df[['iso_code', 'country', 'year', 'co2']].copy()
df2.head()

  iso_code      country  year    co2
0      AFG  Afghanistan  1949  0.015
1      AFG  Afghanistan  1950  0.084
2      AFG  Afghanistan  1951  0.092
3      AFG  Afghanistan  1952  0.092
4      AFG  Afghanistan  1953  0.106

In [ ]:
# WRITE DATA
table_name = 'owid'
df2.to_sql(name=table_name, con=engine, if_exists='replace')